@page
@model IndexModel
@{
    ViewData["Title"] = "404 Page not found";
}

<div class="text-center">
    <h1 class="display-4">site can't reached..!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">To fix this reDeploy Again and make sure your firewall is enabled</a>.</p>
</div>
